<a href="https://colab.research.google.com/github/RuthMaya/Valores-Nulos/blob/main/A2_1_2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ACT 2.1**
## **Ruth Maya López**
## **A01707467**

In [ ]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

CARGA DE ARCHIVO CSV

In [ ]:
#Carga desde un archivo .csv sin indice
df= pd.read_csv('Ventas_totales.csv')
#df

In [ ]:
#Verificamos información del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         59 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      64 non-null     float64
 9   tarjetas_credito                     58 non-null     float64
 10  otros_medios                         64 non-null     float64
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    55 non-null     float64
 13  bebidas                              64 non-null     float64
 14  almacen                              63 non-null     float64
 15  panaderia                            64 non-null     float64
 16  lacteos                              64 non-null     float64
 17  carnes                               64 non-null     float64
 18  verduleria_fruteria                  64 non-null     float64
 19  alimentos_preparados_rotiseria       64 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  63 non-null     float64
 22  electronicos_articulos_hogar         62 non-null     float64
 23  otros                                61 non-null     float64
dtypes: float64(23), object(1)
memory usage: 12.3+ KB

In [ ]:
#Imprimo los primeros 5 registro del dataframe
df.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

**VALORES NULOS**

In [ ]:
#Identificar valores nulos por columnas
valores_nulos=df.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

**Método de sustitución de valores nulos**

In [ ]:
#Sustituir valores nulos  de la columna salon_ventas con la mediana de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la mediana ayudará a no afectar los posibles análisis previos, considerando que existen
#valores extremos y por lo tanto con otro método se verían afectados.
df["salon_ventas"]=df["salon_ventas"].fillna(round(df["salon_ventas"].median(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna tarjetas_debito con el promedio de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la media ayudará a no afectar los posibles análisis previos
df["tarjetas_debito"]=df["tarjetas_debito"].fillna(round(df["tarjetas_debito"].mean(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna tarjetas_credito con el promedio de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la media ayudará a no afectar los posibles análisis previos
df["tarjetas_credito"]=df["tarjetas_credito"].fillna(round(df["tarjetas_credito"].mean(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna otros_medios con la mediana de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la mediana ayudará a no afectar los posibles análisis previos, considerando que existen
#valores extremos y por lo tanto con otro método se verían afectados.
df["otros_medios"]=df["otros_medios"].fillna(round(df["otros_medios"].median(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            0
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna subtotal_ventas_alimentos_bebidas con el promedio de la misma columna, ya que es un valor numerico que mantiene valores similares y por lo tanto sustituir por la media ayudará a no afectar los posibles análisis previos
#Considerando que estos valores pueden ser monetarios, y con el promedio se puede tener una aproximación de los subtotales de ingresos por ventas de alimentos y bebidas
df["subtotal_ventas_alimentos_bebidas"]=df["subtotal_ventas_alimentos_bebidas"].fillna(round(df["subtotal_ventas_alimentos_bebidas"].mean(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                1
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos por valores no nulos hacia delante "forward fill ("ffill"), considerando el valor de la venta siguiente de las bebidas tomando en cuenta los registros con fecha del df
df["bebidas"] = df["bebidas"].fillna(method="ffill")

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos por valores no nulos hacia delante "forward fill ("ffill"), considerando el valor siguiente del almacen tomando en cuenta los registros con fecha del df
df["almacen"] = df["almacen"].fillna(method="ffill")

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos por valores no nulos hacia delante "forward fill ("ffill"), considerando el valor siguiente de la panaderia tomando en cuenta los registros con fecha del df
df["panaderia"] = df["panaderia"].fillna(method="ffill")

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos por  valores no nulos hacia atrás "backward fill ("bfill"), considerando el valor anterior de lacteos tomando en cuenta los registros con fecha del df
df["lacteos"] = df["lacteos"].fillna(method="bfill")

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos por  valores no nulos hacia atrás "backward fill ("bfill"), considerando el valor anterior de carnes tomando en cuenta los registros con fecha del df
df["carnes"] = df["carnes"].fillna(method="bfill")

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos por  valores no nulos hacia atrás "backward fill ("bfill"), considerando el valor anterior de verdureria y fruteria tomando en cuenta los registros con fecha del df
df["verduleria_fruteria"] = df["verduleria_fruteria"].fillna(method="bfill")

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna alimentos_preparados_rotiseria con el promedio de la misma columna, ya que es un valor numerico que mantiene valores similares y por lo tanto sustituir por la media ayudará a no afectar los posibles análisis previos.
#Nos ayudará a rellenar los valores nulos con un promedio de la cantidad de alimentos preparados
df["alimentos_preparados_rotiseria"]=df["alimentos_preparados_rotiseria"].fillna(round(df["alimentos_preparados_rotiseria"].mean(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna indumentaria_calzado_textiles_hogar con el promedio de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la media ayudará a no afectar los posibles análisis previos.
#Nos ayudará a rellenar los valores nulos con un promedio de la cantidad  o valor monetario de la indumentaria calzado, textiles y hogar
df["indumentaria_calzado_textiles_hogar"]=df["indumentaria_calzado_textiles_hogar"].fillna(round(df["indumentaria_calzado_textiles_hogar"].mean(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna electronicos_articulos_hogar con el promedio de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la media ayudará a no afectar los posibles análisis previos.
#Nos ayudará a rellenar los valores nulos con un promedio de la cantidad  o valor monetario de electronicos, articulos, hogar
df["electronicos_articulos_hogar"]=df["electronicos_articulos_hogar"].fillna(round(df["electronicos_articulos_hogar"].mean(),1))

In [ ]:
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  4
dtype: int64

In [ ]:
#Sustituir valores nulos  de la columna salon_ventas con la mediana de la misma columna, ya que es un valor numérico que mantiene valores similares y por lo tanto sustituir por la mediana ayudará a no afectar los posibles análisis previos, considerando que existen
#valores extremos y por lo tanto con otro método se verían afectados, además que son valores desconocidos.
df["otros"]=df["otros"].fillna(round(df["otros"].median(),1))

In [ ]:
#YA NO EXISTEN VALORES NULOS DENTRO DEL DF
#Colaboramos valores nulos
valores_nulo=df.isnull().sum()
valores_nulo

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

**CONVERTIR DATA SET SIN VALOR NULOS A CSV**

In [ ]:
df.to_csv("Ventas_totales_sin_nulos.csv")

In [ ]:
#Convertir dataframe a csv

from google.colab import files
files.download("Ventas_totales_sin_nulos.csv")